@import url(./fonts.css);
@import url(./media.css);
:root {
  --title-orange: #ff8a56;
  --btn: #000;
  --menu-link: #000;
  --alink: #000;
  --header-text: #666666;
  --project-title: #b16cea;
  --form-label: #170f49;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monsterrat" !important;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

a {
  text-decoration: none !important;
}
li {
  list-style: none;
}

/* header */

.header-logo {
  font-size: 22px;
  font-weight: 700;
  color: var(--alink);
  transition: 500ms;
  display: flex;
}

.logo-span {
  color: var(--title-orange);
  display: flex;
  align-items: flex-end; 
}

.header-logo:hover {
  transform: scaleY(-1);
}


.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-link {
  color: #000;
  font-size: 16px;
  line-height: 28px;
  margin-left: 40px;
  font-weight: 500;
  display: block;
}

.header-burger {
  display: none;
}

/* header content */
.header-content {
  padding-top: 50px;
  margin-top: 30px;
  padding-left: 80px;
}

.header-title {
  color: var(--title-orange);
  font-size: 72px;
  line-height: 82.5px;
}

.header-span {
  color: #000;
  font-size: 65px;
  line-height: 82.5px;
}

.header-desc {
  color: var(--header-text);
  font-size: 22px;
  line-height: 33px;
  margin-top: 35px;
}

.header-content .row {
  gap: 80px;
}

.header-photo img {
  width: 500px;
}
/* header btns */
.header-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.header-btn {
  width: 6.5em;
  height: 50px;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  /* border-radius: 5% 25px; */
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 500ms;
}

.header-btn:hover {
  color: black;
}

.header-btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.header-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: var(--title-orange);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid var(--title-orange);
  border-left: 2px solid var(--title-orange);
  border-right: 2px solid var(--title-orange);
}

.tooltip {
  position: absolute;
  right: -105px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: var(--title-orange);
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* main  */

.main-service {
  margin-top: 120px;
}
.main-subtitle {
  color: var(--title-orange);
  font-size: 22px;
  line-height: 22px;
}

.main-title {
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  color: #000;
  margin-top: 20px;
}

/* service  */
.main-services {
  margin-top: 80px !important;
  margin-bottom: 80px;
}

.service-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

.service-desc {
  color: var(--header-text);
  line-height: 28px;
}

.main-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-ul li {
  list-style: inside;
  font-weight: 500;
}

/* main project */
.main-project {
  margin-top: 80px;
}

.project-subtitle {
  color: var(--project-title);
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 16px;
}

.project-title {
  font-size: 54px;
  line-height: 60px;
  font-weight: 700;
  color: #000;
}



/* swiper js */
.slider-section {
  padding: 60px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.swiper-subtitle {
  color: var(--project-title);
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 4px;
  margin-top: 30px;
}

.swiper-title {
  font-size: 24px;
  color: #000;
  line-height: 26px;
  font-weight: 700;
}

.swiper-link {
  color: #000;
  font-size: 18px;
  line-height: 18px;
}

.swiper-link:hover {
  text-decoration: underline;
}

/* about */
.about {
  background: #000;
  margin-top: -150px;
  padding-top: 150px;
}

.about-content {
  margin-top: 150px;
}

.about-subtitle {
  color: var(--title-orange);
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 15px;
}

.about-title {
  color: #fff;
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
}

.about-desc {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-align: justify;
}

/*--------------------- conic element----------------- */

:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;
  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

.about-content .row .col-5 {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 90px;
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  margin: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.conic {
  position: relative;
  z-index: 0;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #1a232a;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
      transparent,
      rgba(168, 239, 255, 1),
      transparent 30%
    );
    animation: rotate 4s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: #000;
    border-radius: 5px;
  }
}

.conic-demo::after {
  animation: opacityChange 5s infinite linear;
}

@keyframes opacityChange {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------ finish conic ------------------------- */

.main-form {
  background: #000;
  padding: 120px 30px;
}

.form-title {
  color: #3c46ff;
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.form-title-color {
  color: #fff;
}

.main-form .row:nth-child(1) {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background: #eff0f6;
  padding: 80px 30px;
  border-radius: 34px;
}

.form label {
  color: var(--form-label);
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin-top: 15px;
}

.form input {
  -webkit-box-shadow: 4px 6px 38px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 6px 38px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 6px 38px 0px rgba(34, 60, 80, 0.2);
  border: none;
  border-radius: 34px;
  padding: 20px;
}

.form-submit {
  margin-top: 15px;
  width: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    197deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 138, 86, 1) 32%,
    rgba(177, 108, 234, 1) 100%
  );
  color: var(--form-label);
  font-weight: 600;
  transition: 500ms;
}

.form-submit:hover {
  transform: scale(1.1);
  color: white;
}

/* -----------  footer        -------------------- */

.footer {
  background: #000;
  padding-bottom: 3px;
}

.line {
  background: #eff0f6;
  width: 100%;
  height: 1px;
  margin-bottom: 5px;
}

.footer-desc {
  color: #eff0f6;
  text-align: center;
  padding: 5px;
  display: block;
}

/* ------------- links hover effects ------------- */


.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 16px;
  line-height: 20px;
  transition: transform 0.4s ease;
  margin-left: 40px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link-icon {
  position: relative;
  width: 25px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

.header-link, .swiper-link{
  position: relative;
}

.header-link::before, .swiper-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.header-link:hover::before, .swiper-link:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

.swiper-link {
  padding-bottom: 5px;
}

.header-menu {
  margin-top: 15px;
}

/* --------------------------------- */